@model List<Entidades.DTOs.SubirXmlsDTOs.LoteRegistroDTO>


@*<div id="lista-header">
    <span id="title-id" class="title-list">ID Registro</span>
    <span id="title-no" class="title-list">Cantidad</span>
    <span id="title-dependencia" class="title-list">Dependencia</span>
    <span id="title-fecha" class="title-list">Fecha Carga</span>
</div>*@
@*<div id="filtro">
    <input type="text" id="buscador-historial" name="busqueda" placeholder="Buscar"/>
</div>*@
<ul id="lista-registros">
    @foreach (var registro in Model)
    {
    <li>
        <div id="datos-registro">
            <span class="span-registro" id="id-registro" title="@registro.registroId">@registro.registroId</span>
            <span class="span-registro" id="dependencia" title="@registro.Dependencia">@registro.Dependencia</span>
            <span class="span-registro" id="fecha-registro" title="@registro.FechaRegistro">@registro.FechaRegistro</span>
        </div>
        <div id="boton-registro">
            <span class="span-registro" id="no-registros" title="@registro.noRegistros">@registro.noRegistros</span>
            <span class="span-registro" id="eliminar-span" onclick="eliminarModal(this)">
                <i class="fa-solid fa-trash-can"></i>
            </span>
        </div>
    </li>
    }
</ul>