@{
    ViewBag.Title = "DescargasXml";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<section class="formulario-seleccion">
    <div class="contenedor-periodo">
        <div class="periodo">
            <h3>Año</h3>
            @using (Html.BeginForm("DescargasXml", "DescargasXml", FormMethod.Post, new { @name = "anio" }))
            {
                <div class="select" name="seleccionAnio" id="seleccionAnio">
                    <select id="anios" onchange="obtenerMeses('@Url.Content("~/DescargasXml/DescargasXml")'), obtenerPartidas('@Url.Content("~/DescargasXml/ListaPartidas")')">
                        <option value="none" selected disabled hidden>Selecciona un año</option>
                        @foreach (var anio in ViewBag.anios)
                        {
                            <option value="@anio">@anio</option>
                        }
                    </select>
                    <span class="custom-arrow"><span class="fa-solid fa-angle-down fa-lg"></span></span>
                    @Html.Hidden("anioSelect", null, new { @id = "anioSelect" })
                </div>
            }
            <h3>Mes</h3>
            <div class="select">
                <select id="meses" onchange="activarBoton()" disabled>
                    <option value="none" selected disabled hidden>Escoge un mes</option>
                </select>
                <span id="span-meses" class="custom-arrow disabled"><span class="fa-solid fa-angle-down fa-lg"></span></span>
            </div>
            <h3>Disposición de carpetas</h3>
            <div class="select">
                <select id="orden" onchange="activarBoton()" disabled>
                    <option value="none" selected disabled hidden>Escoge una opcion</option>
                    <option value="0">Carpeta única</option>
                    <option value="1">Por ramos y partidas</option>
                </select>
                <span id="span-orden" class="custom-arrow disabled" disabled><span class="fa-solid fa-angle-down fa-lg"></span></span>
            </div>
            <button type="submit"  id="boton-descarga" class="btn-submit disabled" onclick="resume('@Url.Content("~/DescargasXml/Descargar")','@Url.Content("~/DescargasXml/Datos")')" >Descargar<i class="fa-solid fa-download"></i></button>
        </div>
    </div>
    <div class="contenedor-archivos">
        <div class="archivos">
            <h3 id="titulo-lista">Lista de partidas</h3>
            <div class="dashed-box">
                <i id="carga" class="fas fa-circle-notch fa-spin"></i>
                <ul class="xml-list" id="lista-partidas">
                </ul>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" id="resume" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resumen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Descargar</button>
            </div>
        </div>
    </div>
</div>

<script>

    
</script>